{% extends 'base.html' %}
{%    load static    %}
{%block content%}


<div class="my-form container p-5 my-5 rounded border border-warning" style="background-color: aliceblue;">
    <form>
        <h2 class="text-center">All Products</h2>
        <hr>

        <section>
            <div class="container-fluid">
              <div class="row p-5" >

                {% for x in pro %}
                <div>
                  <div class="card m-2" style="width: 18rem;">
                    <img  src="{%static 'img/7.jpg'%}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ x.pname }}</h5>
                      <p class="card-text">{{ x.desc }}</p>


                      <a href="{% url 'product' x.id %}" class="btn btn-warning">Show Details</a> 

                      
                        

                    </div>
                  </div>
                </div>
                {% endfor %}
    
              
    
                
    
              </div>
            </div>
        </section>
    

    </form>

</div>
{% endblock%}